body {
	background-image: url(../img/pre3.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	color: #FFF;
}

main {
	border: 1px solid #FFF;
	border-radius: 4px;
	width: 40%;
	height: 80%;
	margin-top: 3%;
	margin-left: 3%;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: scroll;
}

::-webkit-scrollbar { 
    display: none; 
}

main .form{
	text-align: center;
}

.text {
	text-align: left;
	margin-left: 20%;
}

h1 {
	color: #59a88f!important;
	font-family: 'Questrial', sans-serif;
	text-align: left;
	/*padding-left: 22%;*/
}

h2 {
	font-family: 'Catamaran', sans-serif;
	margin-bottom: -1px;
	font-size: 27px;
}

textarea {
	text-align: center;
	width: 55%;
	height: 7%;
	margin-bottom: 5px;
}

#todo {
	border: 2px solid #E5E5E5;
	border-radius: 4px;
	width: 150px;
	height: 30px;
	margin: 10px;
	background-color: #E5E5E5;
	text-align: center;
}

#todo:hover{
	background-color: rgba(89, 168, 143, 0.7);
	color: #FFF;
	border: none;
}

#done {
	border: 2px solid #E5E5E5;
	border-radius: 4px;
	width: 150px;
	height: 30px;
	margin: 10px;
	background-color: #E5E5E5;
	text-align: center;
}

#done:hover{
	background-color: rgba(89, 168, 143, 0.7);
	color: #FFF;
	border: none;
}

.taches, .tachesDone {
	font-family: 'Catamaran', sans-serif;
	text-align: left;
}

